.analysis_container{
    background-color: white;
    width: 68.5vw;
    /* border: 2px solid black; */
}
.header_analysis_containeer{
    display: flex;
    width: 100%;
}
.header_analysis_containeer div{
    width: 40%;
    /* border: 2px solid black; */
    text-align: right;
    /* margin: 30px; */
    height: 10%;
    color: #269AE8;
    font-size: 0.8rem;
}
.logo_analysis_container img{
    float: left;
}
.logo_analysis_container p{
    margin-left: 15%;
    text-align: left;
    color: black;
    font-weight: 700;
}
.subscriber_analysis_container{
    padding: 0.8rem;
}
.you_tube_address{
    padding: 0.8rem;
}
.numerical_data_stats{
    display: flex;
}
.element_numerical_data_stats{
    width: 20%;
    padding-left: 3%;
    /* border: 2px solid black; */
}
.bold_header_element_numerical_data_stats{
    font-weight: 600;
    font-size: 1.2rem;
}
.detail_element_numerical_data_stats{
    font-size: 0.8rem;
}
.distributions_stats{
    display: flex;
    flex-wrap: wrap;
}
.element_distribution_stats{
    width: 25%;
    margin-left: 6%;
    /* border: 2px solid black; */
    /* height: 20%; */
}
.element_distribution_stats p{
    color: #B5C2C9;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 800;
}
.element_distribution_stats img{
    height: 65%;
    width: 60%;
    margin-left: 10%;
}