
.body_status{
    height: 82vh;
    width: 100%;
    /* border: 2px solid black; */
    position: relative;
    overflow-y: scroll;
    padding-top: 2%;
    background-color: #FBFAFF;
    scrollbar-width: none;
}
.body_status::-webkit-scrollbar {
    display: none;
  }
.body_status .proposal_date{
    /* border: 1px solid black; */
    height: 8%;
    /* position: relative; */
    /* position: relative; */
}
.body_status .heading{
    float: left;
    color: #7C7C7C;
    padding-left: 6%;
}
.body_status .filter{
    color: #7C7C7C;
    /* border: 2px solid black; */
    float: right;
    padding-right: 8%;
}
.body_status .filter i{
    color: #7B57F4;
}
.influencer_detail{
    position: absolute;
    /* border: 2px solid black; */
    top: 52%;
    width: 86%;
    left: 6%;
}
.influencer_detail p{
    font-weight: 600;
}
.influencer_detail_icon img{
    width: 1.5rem;
    float: left;
}
.influencer_detail_icon p{
    margin-left: 5%;
}

.table th{
    padding: 0 0 0 0;
    font-size: 0.8rem;
    color: #a8a7a7;
    background-color: white;
    padding: 0.5rem 0 0.5rem 0;
}
.table th p{
    font-size: 0.5rem;
    margin: 0 0 0 0;
}
.table{
    width: 100%;
}
.edit{
    float: right;
    position: absolute;
    top: 2rem;
    right: 7rem;
    height: 2.2rem;
    width: 6rem;
    background-color: rgb(98,56,242);
    border: none;
    color: white;
}
.delete{
    float: right;
    position: absolute;
    top: 2rem;
    right: 0;
    height: 2.2rem;
    width: 6rem;
    background-color: rgb(255,255,255);
    border: none;
    color: rgb(255,95,95);
}
.full_width_row{
    background-color: #FFFFFF;
    text-align: left;
}
.full_width_row p{
    text-align:left;
    font-weight: 800;
    margin-top: 0;
}
.full_width_row .full_width_row_value{
    font-weight: 400;
    margin-left: 4rem;
}
.overall_stats{
    height: 55%;
    width: 86%;
    margin-left: 6%;
    position: relative;
    top: 110%;
    /* border: 2px solid red; */
}