.main_container_campaign{
    background-color: #FEFEFF;
    border: 2px solid rgb(241, 240, 240);
    height: 90%;
    width: 85%;
    position: absolute;
    overflow: scroll;
    top: 13%;
    left: 15%;
}
.main_container_campaign::-webkit-scrollbar {
    display: none;
}
.example {
    -ms-overflow-style: none;
}
.main_container_campaign {
    scrollbar-width: none;
}
.detail_container_campaign{
    height: 25%;
    margin: 3% auto auto auto;
}
.campaign_detail{
    background-color: white;
    height: 70%;
    width: 90%;
    margin: auto 5% 0% 5%;
    -moz-box-shadow:    0px 0px 3px 0px #fafafa;
    -webkit-box-shadow: 0px 0px 3px 0px #fafafa;
    box-shadow:         0px 0px 3px 0px #ccc;
}
.campaign_detail_b{
    height: 18%;
    position: relative;
    width: 90%;
    display: flex;
    margin: 0% 5% auto 5%;
    padding-left: 0rem;
    -moz-box-shadow:    0px 0px 3px 0px #fafafa;
    -webkit-box-shadow: 0px 0px 3px 0px #fafafa;
    box-shadow:         0px 0px 3px 0px #ccc;
}
.campaign_detail_b .details_button{
    margin: 0rem 1rem auto auto;
    height: 100%;
}
.campaign_detail_b button{
    background-color: transparent;
    border: 1px solid rgb(88, 36, 247);
    font-size: 0.6rem;
    cursor: pointer;
    border-radius: 2px;
    height: 80%;
    color: rgb(88, 36, 247);
} 
.details_type1{
    height: 82%;
    width: 50%;
    float: left;
    /* border: 2px solid black; */
    padding-top: 1rem;
    padding-left: 1rem;
}
.details_type1 .Campaign_title{
    color: #2e2d2d;
    font-weight: 600;
    /* border: 1px solid black; */
    margin: auto auto 0rem auto;
}
.details_type1 .Campaign_type{
    color: #767676;
    /* border: 1px solid black; */
    margin: 0.5rem auto auto auto;
    font-size: 0.9rem;
}
.details_type1 .Campiagn_platform{
    color: #767676;
    /* border: 1px solid black; */
    margin: 0.5rem auto auto auto;
    font-size: 0.9rem;
}
.details_type2{
    height: 82%;
    width: 40%;
    float: right;
    /* border: 2px solid red; */
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.details_type2 .Deliverables{
    color: #767676;
    /* border: 1px solid black; */
    margin: 0rem auto 0rem auto;
    font-size: 0.8rem;
}
.details_type2 .deliverables_data{
    color: #767676;
    margin: 0.4rem auto 0rem auto;
    font-size: 0.9rem;
    font-weight: 500;
}
.campaign_detail_b .client_name{
    /* margin: 1.5rem auto auto 1rem; */
    color: #767676;
    font-size: 0.6rem;
    margin: auto 1rem auto 1rem;
}
.campaign_detail_b .approved_date{
    color: #767676;
    font-size: 0.6rem;
    margin: auto auto auto 1rem;
}