
.Proposal_date{
    /* border: 2px solid rgb(136, 129, 129); */
    position: absolute;
    top: 15%;
    left: 6%;
    background-color: #FFFFFF;
    width: 86%;
    border-radius: 5px;
    height: 38%;
    -moz-box-shadow:    0px 0px 5px 0px #fafafa;
    -webkit-box-shadow: 0px 0px 5px 0px #fafafa;
    z-index: 0;
    box-shadow:         0px 0px 5px 0px #ccc;
}
.Proposal_date .campaign_title_status{
    margin-left: 2%;
    font-weight: 600;
    /* border: 2px solid black; */
    padding-top: 1%;
    color: #7C7C7C;
}
.agency_status{
    /* border: 2px solid black; */
    height: 80%;
    width: 25%;
    position: relative;
    font-size: 0.8rem;
    /* margin-bottom: 2%; */
    left: 2%;
    top: 2%;
    color: #7C7C7C;
}
.agency_status .value_agency_status{
    position: absolute;
    /* border: 1px solid black; */
    top: 0%;
    transform: translateY(-60%);
    right: 0;
    text-align: center;
}
.details_status_b{
    /* border: 2px solid black; */
    width: 40%;
    position: absolute;
    top: 27%;
    left: 60%;
}
.agency_status_b{
    /* border: 2px solid black; */
    height: 80%;
    width: 60%;
    position: relative;
    font-size: 0.8rem;
    /* margin-bottom: 2%; */
    left: 25%;
    top: 2%;
    color: #7C7C7C;
}
.agency_status_b .value_agency_status{
    position: absolute;
    /* border: 1px solid black; */
    top: 0%;
    transform: translateY(-60%);
    right: 0;
    text-align: center;
}
.dates_proposal_status{
    /* border: 2px solid black; */
    /* position: absolute; ;*/
    margin-top: 3%;
    padding-top: 0.2rem;
    border-top: 2px solid rgb(202, 202, 202);
}
.proposal_date_status{
    float: left;
    margin-top: 0.5rem;
    margin-left: 2%;
    color: #7C7C7C;
    font-size: 0.8rem;
}
.campaing_date_status{
    float: left;
    margin-top: 0.5rem;
    margin-left: 2%;
    color: #7C7C7C;
    font-size: 0.8rem;
}