.main_container_campaign{
    background-color: #FEFEFF;
    border: 2px solid rgb(241, 240, 240);
    height: 90vh;
    width: 80%;
    position: absolute;
    overflow: scroll;
    top: 13%;
    left: 1%;
    /* border: 2px solid black; */
}
.main_container_campaign::-webkit-scrollbar {
    display: none;
}
.example {
    -ms-overflow-style: none;
}
.main_container_campaign {
    scrollbar-width: none;
}
.detail_container_campaign{
    /* border: 2px solid black; */
    /* background-color: white; */
    height: 25%;
    margin: 3% auto auto auto;
}
.campaign_detail{
    background-color: white;
    /* border: 2px solid black; */
    /* padding: 2rem auto 1rem auto; */
    height: 70%;
    width: 90%;
    margin: auto 5% 0% 5%;
    -moz-box-shadow:    0px 0px 3px 0px #fafafa;
    -webkit-box-shadow: 0px 0px 3px 0px #fafafa;
    box-shadow:         0px 0px 3px 0px #ccc;
}
.campaign_detail_b{
    /* border: 2px solid black; */
    height: 18%;
    width: 90%;
    display: flex;
    margin: 0% 5% auto 5%;
    padding-left: 0rem;
    
}
.campaign_detail_b .details_button{
    margin: 0rem auto auto auto;
}
.campaign_detail_b button{
    left: 85%;
    width: 4.5rem;
    height: 1.2rem;
    position: absolute;
    background-color: transparent;
    border: 1px solid rgb(88, 36, 247);
    font-size: 0.7rem;
    cursor: pointer;
    transform: translateY(30%);
}
.details_type1{
    height: 82%;
    width: 50%;
    float: left;
    /* border: 2px solid black; */
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
}
.details_type1 .Campaign_title{
    color: #2e2d2d;
    font-weight: 600;
    /* border: 1px solid black; */
    margin: auto auto 0rem auto;
}
.details_type1 .Campaign_type{
    color: #767676;
    /* border: 1px solid black; */
    margin: 0.5rem auto auto auto;
    font-size: 0.9rem;
}
.details_type1 .Campiagn_platform{
    color: #767676;
    /* border: 1px solid black; */
    margin: 0.5rem auto auto auto;
    font-size: 0.9rem;
}
.details_type2{
    height: 82%;
    width: 40%;
    float: right;
    /* border: 2px solid red; */
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.details_type2 .Deliverables{
    color: #767676;
    /* border: 1px solid black; */
    margin: 0rem auto 0rem auto;
    font-size: 0.8rem;
}
.details_type2 .deliverables_data{
    color: #767676;
    margin: 0.4rem auto 0rem auto;
    font-size: 0.9rem;
    font-weight: 500;
}
.campaign_detail_b .client_name{
    /* margin: 1.5rem auto auto 1rem; */
    color: #767676;
    font-size: 0.8rem;
    margin: auto 1rem auto 1rem;
}
.campaign_detail_b .approved_date{
    color: #767676;
    font-size: 0.8rem;
    margin: auto auto auto 1rem;
}