.topbar_status{
    /* border: 2px solid black; */
    height: 15%;
    margin-top: 1%;
}
.topbar_status img{
    height: 1rem;
    margin: 1rem auto auto 1rem;
}
.topbar_status i{
    font-size: 1rem;
    color :blue;
    margin: 1rem auto auto 0.5rem;
}
.topbar_status .buttons_status{
    /* border: 2px solid black; */
    position: relative;
    padding-left: 5%;
    height: 50%;
}
.topbar_status .buttons_status .buttons_status_text{
    float: left;
    color: #7C7C7C;
}
.topbar_status .buttons_status .resend_proposal{
    float: left;
    margin: auto 1rem auto 40%;
}
.topbar_status .buttons_status .resend_proposal{
    float: left;
    position: absolute;
    left: 28%;
    top: 50%;
    transform: translateY(30%);
}
.topbar_status .buttons_status .resend_proposal button{
    background-color: #6238F2;
    color: white;
    height: 2.2rem;
    border: none;
    font-size: 0.8rem;
    width: 9rem;
    border-radius: 5px;
}
.topbar_status .buttons_status .Make_live{
    position: absolute;
    left: 85%;
    top: 25%;
    transform: translateY(-15%);
    /* border: 2px solid black; */
}
.topbar_status .buttons_status .Make_live button{
    background-color: #6238F2;
    color: white;
    height: 2.2rem;
    border: none;
    font-size: 0.8rem;
    width: 6rem;
    border-radius: 5px;
}